@media (max-width: 768px) {

html {
  zoom: 100%;
}

header h1 {
  padding: 1em;
  font-size: 1em;
}

nav ul {
  padding: 10px;
}

nav ul li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  font-size: 16px;
}

img {
  width: 100%;
}

p {
  font-size: 16px;
}

#write {
  width: 10px;
  margin-left: 0em;
  font-size: 20px;
  display: inline;
}

article img {
  width: 50%;
}

#pic {
  margin-top: 2em;
  margin-right: 1em;
  margin-bottom: 8em;
}

#font {
  font-size: 20px;
}

iframe {
  width: 100%;
  padding: 0;
  margin: 0;
}

section ul {
  font-size: 10px;
}

section h3 {
  font-size: 12px;
}

section p {
  font-size: 10px;
  line-height: 1em;
}

.left,
.right {
  width: auto;
  margin: 1em;
  padding: 1em;
  float: none;
}

#contact-pic {
  margin-left: 0em;
  border: none;
  width: 100%;
}

.linkedin, .facebook, .instagram, .twitter, .vimeo {
  display: inline-block;
  font-size: 25px;
  border-bottom: none;
  margin-left: 1em;
}

}
