@media print {

body {
  background: transparent;
  color: black;
  font-size: 12pt;
  font-family: serif;
}

@page {
  margin: 0.5in;
}

nav {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: none;
}

footer {
  display: none;
}

.page-break {
  display: block;
  page-break-before: always;
}

}
