@import url(https://fonts.googleapis.com/css?family=Marmelad|Exo+2|Lato);

@media all {
  .page-break { display: none; }
}

body {
  font-family: 'Exo+2', sans-serif;
  color: black;
  background-color: #6384bd;
  background-image: url("http://www.transparenttextures.com/patterns/asfalt-light.png");
  font-size: 30px;
  color: black;
}

html {
  width: 100%;
  height: 100%;
  zoom: 67%
}

#home, #about, #media, #contact {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 50px;
  padding-top: .5em;
}

h1 {
  font-family: 'Marmelad', sans-serif;
}

nav ul {
  margin: 0;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1em;
  padding-left: 0em;
}

nav li {
  display: inline-block;
  margin-right: 2em;
}

nav li a {
  display: inline-block;
  padding: 0em;
  border-bottom: 1px solid black;
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 1px dashed black;
  text-decoration: none;
}

nav li a:visited {
  color: inherit;
}

nav li a:active {
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

#write {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}


/* ABOUT PAGE */

#container {
  margin: auto;
}

#content {
  font-size: 20px;
  padding-top: 3em;
  margin-left: 30%;
  width: 700px;
}

article img {
  border: 1px solid black;
  width: 30%;
}

#pic {
  margin-top: 3em;
  margin-right: 2em;
  margin-bottom: 5em;
  float: left;
}


/* CONTACT PAGE */

#contact-pic {
  margin-left: 1.25em;
  border: none;
  width: auto;
}

.linkedin, .facebook, .instagram, .twitter, .vimeo {
  display: inline-block;
  font-size: 3em;
  border-bottom: none;
  margin-left: 1.25em;
}

/* RESUME PAGE */

article a:hover {
  border-bottom: 1px dashed black;
  text-decoration: none;
}

article a:visited {
  color: inherit;
}

article a:active {
  color: white;
}

#left {
  padding: 2em;
  width: 650px;
  margin: 2em;
  border: 1px solid white;
  float: left;
}

#left ul {
  font-size: 25px;
}

#left h3 {
  font-size: 30px;
}

#left p {
  font-size: 25px;
  line-height: 1em;
}

#right {
  padding: 2em;
  width: 650px;
  margin: 2em;
  margin-left: 0em;
  border: 1px solid white;
  float: right;
}

#right h3 {
  font-size: 30px;
}

#right p {
  font-size: 25px;
  line-height: 1em;
}

#right ul {
  font-size: 25px;
}

#right-2 {
  padding: 2em;
  width: 650px;
  margin: 2em;
  border: 1px solid white;
  float: left;
  position: relative;
}

#right-2 ul {
  font-size: 25px;
  line-height: 1.5em;
}

/* MEDIA PAGE */

.font {
  font-size: 30px;
  margin-top: 2em;
}

iframe src {
  padding: 2em;
  margin: 1em;
  margin-left: 0em;
}

iframe {
border: 2px solid black;
margin: 1em;
margin-left: 0em;
}
